parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:scopes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/SocialiteProviders/Apple.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:scopes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/SocialiteProviders/Facebook.php
