parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Igniter\\\\Socialite\\\\Models\\\\Settings\\:\\:instance\\(\\)\\.$#"
			count: 1
			path: src/Classes/BaseProvider.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
			count: 1
			path: src/Classes/ProviderManager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Auth\\\\UserProvider\\:\\:register\\(\\)\\.$#"
			count: 1
			path: src/Classes/ProviderManager.php

		-
			message: "#^Call to an undefined method Laravel\\\\Socialite\\\\Contracts\\\\Provider\\:\\:scopes\\(\\)\\.$#"
			count: 1
			path: src/SocialiteProviders/Facebook.php
